/*--css åˆå§‹åŒ–-- */
a,address,b,big,blockquote,body,center,cite,code,dd,del,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var,button,input,textarea
	{
	margin: 0;
	padding: 0;
}

fieldset,img,input,button {
	border: none;
	outline-style: none;
}

ul,ol {
	list-style: none;
}

input {
	font-family: "Helvetica", " Microsoft YaHei";
	font-size: 14px;
}

select,input {
	vertical-align: middle;
}

select,input,textarea {
	font-size: 14px;
}

/*--é˜²æ­¢æ‹–åŠ¨--*/
textarea {
	resize: none;
}

/*--åŽ»æŽ‰å›¾ç‰‡ä½Žæµ‹é»˜è®¤çš„3åƒç´ ç©ºç™½ç¼éš™--*/
img {
	border: 0;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

h1,h2,h3,h4,h5,h6 {
	text-decoration: none;
	font-weight: normal;
	font-size: 100%;
}

s,i,em {
	font-style: normal;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/*--è§£å†³buttonåœ¨firefoxä¸‹æ–‡å­—ä¸èƒ½ä¸Šä¸‹å±…ä¸­çš„é—®é¢˜--*/
button::-moz-focus-inner {
	margin: 0;
	padding: 0px 0 2px;
	border: none;
}

body {
	font-family: "Helvetica", " Microsoft YaHei";
	font-size: 14px;
	color: #666;
	background-color:#F0F0F0;
}

html {
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

/*--æ¸…é™¤æµ®åŠ¨--*/
.clearfix,.col-wrap { *+
	height: 1%;
}

.clearfix:after,.col-wrap:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

html,body {
	height: 100%;
}

/* ç™»å½•é¡µé¢ */
.backdrop-img {
	padding-top: 60px;
	padding-bottom: 120px;
	width: 100%;
	height: 100%;
	/*background-image: url("../img/bjTU.png");*/
}
.logo_title{
	width:328px;
	height:80px;
	margin:0 auto;
}
.logo-img {
	display: inline-block;
	margin: 0 auto;
	float:left;
}
.logo_name{
	margin-left:10px;
	margin-top:16px;
	display: inline-block;
	float:left;
	color:#ffffff;
	font-size: 30px;
}
/*ç™»å½•æ¡†  #3F4752*/
.land-content {
	margin: 30px auto 0;
	padding: 30px;
	width: 520px;
	height: auto;
	background-color:rgba(0,0,0,0.7);
}

.land-ad {
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: bolder;
	color: #FFF;
	border-bottom: 1px solid #E1E8F0;
	text-align: center;
}

.register-content {
	position: relative;
	padding: 20px 60px 20px;
	width: 100%;
	height: auto;
}

.logio-text {
	position: absolute;
	top: 20px;
	left: 60px;
	width: 100%;
	height: auto;
	font-size: 18px;
	font-weight: bolder;
	color: #DEDEDE;
}

.login-modularity {
	margin: 20px auto;
	width: 80%;
	height: auto;
	padding-bottom: 10px;
}

.forget-message {
	padding-top: 6px;
	width: 100%;
	height: auto;
	color: #33B88E;
	text-align: right;
	font-size: 12px;
}

.entry-message {
	position: relative;
	padding-left: 40px;
	width: 100%;
	height: auto;
	background-color: #E1E8F0;/*#373945*/
}

.entry-message input {
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-color: #fff;
	color: #373945;
}

.save-icon {
	position: absolute;
	top: 5px;
	left: 0;
	padding-left: 11px;
	width: 40px;
	height: 22px;
	border-right: 1px solid #E1F8F0;/*#4A4A4E*/
	line-height: 22px;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #626368;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #626368;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #626368;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #626368;
	;
}

.circle-button {
	width: 100%;
	height: auto;
	padding-left:32px;
}


.circle-button button {
	margin-top: 20px;
	width: 89%;
	line-height: 36px;
	background-color: #FF802C;
	color: #fff;
	font-size: 14px;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
}

.circle-button button a {
	display: block;
	width: 100%;
	height: 100%;
}

.circle-button button:hover {
	background-color: #F76A0C;
}

.circle-button button:hover {
	border-color: #ca6624;
	color: #fff;
	background-color: #ca6624;
}

.circle-button button:active {
	border-color: #984c1a;
	color: #fff;
	background-color: #984c1a;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/* ç™»å½•é¡µé¢ */
.user-warning-u,.user-warning-p {
	position: absolute;
	font-size: 12px;
	line-height: 22px;
	color: #e65b03;
}

